In [1]:
1+1

2

In [15]:
#Kondisi

angka = 12
if angka > 10:
    print(f"{angka}lebih besari dari 10")
    
elif angka == 10:
    print(f"{angka} sama dengan 10")
else:
    print(f"{angka}lebih kecil dari 10")

12lebih besari dari 10

In [17]:
#Cek ganjil genap
angka = 4
if angka % 2 == 0:
    print(f"{angka} adalah angka genap")
else:
    print(f"{angka} adalah angka ganjil")

4 adalah angka genap

In [22]:
menu = ["nasi goreng",
        "mie ayam"
        "soto ayam"
        "ayam penyet"]

In [23]:
makanan = "Lontong Sayur"
if makanan in menu:
    print(f"abangnya jual{makanan}")
else:
    print(f"abangnya ga jual{makanan}")

abangnya ga jualLontong Sayur

In [35]:
tukang_sayur = ["bayam","kangkung","cabai"]

if len(tukang_sayur) > 2:
    if'bayam' in tukang_sayur:
      print("beli bayam")
    else:
      print("mampir doang")
else:
    print("Pindah toko lain")

beli bayam

In [46]:
tukang_buah = ["mangga", "rambutan", "jeruk"]
if'mangga' in tukang_buah or 'semangka' in tukang_buah:
    print("cus mampir")
else:
    print("ga mampir")

cus mampir

In [ ]:
pesanan = []
pesan = ''
while pesan != 'cukup':
    pesan = input("Masukkan pesanan anda")
    if pesan != 'cukup':
        pesanan.append(pesan)

In [75]:
nilai = input("masukkan angka :")
nilai = float(nilai)

nilai = 80
#A : [80-100]
#B : [65-80]
#c : [40-65]
#D : [20-40]
#E : [0=20]

if nilai >= 0 and nilai <=100:
    if nilai >= 80:
        print("nilai A")
    elif nilai >= 65:
        print("nilai B")
    elif nilai >= 40:
        print("nilai C")
    elif nilai >= 20:
        print("nilai D")
    else:
        print('nilai E')
else:
    print("nilai tidak valid")

masukkan angka :80
nilai A

In [76]:
i=0
while i < 6:
    print(f"i ke : {i}")
    print("hi, saya febi")
    i = i+1

i ke : 0
hi, saya febi
i ke : 1
hi, saya febi
i ke : 2
hi, saya febi
i ke : 3
hi, saya febi
i ke : 4
hi, saya febi
i ke : 5
hi, saya febi

In [61]:
tukang_buah = ['pepaya', 'mangga', 'pisang','jambu']
for buah in tukang_buah:
    print(f"Abang ini jual {buah}")

Abang ini jual pepaya
Abang ini jual mangga
Abang ini jual pisang
Abang ini jual jambu

In [77]:
i = 1
while i <=10:
      print(f"7x{i}")
      i=i+1

7x1
7x2
7x3
7x4
7x5
7x6
7x7
7x8
7x9
7x10

In [79]:
i=1
j=1

while j<=12:
    while i <= 10:
        print(f"{j} x {i} = {j*i}")
        i= i+1
    j = j+1
    i = 1
    print("*"*50)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
**************************************************
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
**************************************************
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
**************************************************
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
**************************************************
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
**************************************************
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
**************************************************
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
**************************************************
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
**************************************************
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
**************************************************
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
**************************************************
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110
**************************************************
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
**************************************************

In [74]:
for j in range(1,11):
    for i in range(1,11):
        print(f"{j}x{i}={j*i}")
    print("*"*50)

1x1=1
1x2=2
1x3=3
1x4=4
1x5=5
1x6=6
1x7=7
1x8=8
1x9=9
1x10=10
**************************************************
2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18
2x10=20
**************************************************
3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
3x6=18
3x7=21
3x8=24
3x9=27
3x10=30
**************************************************
4x1=4
4x2=8
4x3=12
4x4=16
4x5=20
4x6=24
4x7=28
4x8=32
4x9=36
4x10=40
**************************************************
5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
5x10=50
**************************************************
6x1=6
6x2=12
6x3=18
6x4=24
6x5=30
6x6=36
6x7=42
6x8=48
6x9=54
6x10=60
**************************************************
7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49
7x8=56
7x9=63
7x10=70
**************************************************
8x1=8
8x2=16
8x3=24
8x4=32
8x5=40
8x6=48
8x7=56
8x8=64
8x9=72
8x10=80
**************************************************
9x1=9
9x2=18
9x3=27
9x4=36
9x5=45
9x6=54
9x7=63
9x8=72
9x9=81
9x10=90
**************************************************
10x1=10
10x2=20
10x3=30
10x4=40
10x5=50
10x6=60
10x7=70
10x8=80
10x9=90
10x10=100
**************************************************